* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
   color: inherit; 
   text-decoration: none;
}

body {
    text-align: center;
}

.navbar {
    top: 0px;
    max-width: 100%;
    overflow: auto;
    height: auto;
    text-decoration: none;   
    font-family: 'Montserrat', sans-serif;  
}

.navbar-brand {
    margin-left:30px;
}

.nav-item {
    margin-right: 30px;
    padding: 5px;
    font-size: 20px;
    font-weight: 1rem;
    text-transform: uppercase; 
}

footer {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    margin-bottom: 0;
    background-color: black;
    color: white;
}

/* home page */

.pre {
    padding-top: 30px;
    display: flex;  
    width:450px; 
    margin: 0 auto;
    align-items: center;
}
#newGame {
    background-color:#8155BA;
    height: 30px;
    width: 100px;
    color: white;
    padding: 6px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
  
#newGame:hover, #newGame:focus {
    background-color: #D3B5E5;
}
  
.game {
    position: relative;
    display: inline-block;
}
  

.timer {
    margin-left: 270px;
    display: flex;
}

#showNum {
    font-size:20px;
}

#start, #pause {
    display: none;
    margin-left: 10px;
    border: none;
    background-color: transparent;
    color: #8155BA;
    font-size: 20px;
}


.board {
    width: 100%;
}

#grid {
    width: 450px;
    height: 460px;
	border: 4px solid #8155BA;
	border-collapse: collapse;
    border-spacing: 0;
    font-weight: bold;
    margin-top: 1rem;	
    margin-bottom: 1rem;
    padding-bottom: 0;
    color: black;
}

td.cell {
	border: 2px dotted #8155BA;
	padding: 0;
	cursor: context-menu;
}

td.emptyCell {
	border: 2px dotted #8155BA;
	padding: 0;
	cursor: pointer;
}

#t0x2, #t0x5, #t1x2, #t1x5, #t2x5,
#t3x2,#t3x5, #t4x2, #t4x5, #t5x2, #t5x5,
#t6x2, #t6x5, #t7x2, #t7x5, #t8x2, #t8x5 {
	border-right: 3px solid #8155BA;
}

#t2x0, #t2x1, #t2x3, #t2x4, #t2x6, #t2x7,
#t5x0, #t5x1, #t5x3, #t5x4, #t5x6, #t5x7 {
	border-bottom: 3px solid #8155BA;
}

#t2x2, #t2x5, #t2x8, #t5x2, #t5x5, #t5x8 {
	border-bottom: 3px solid #8155BA;
	border-right: 3px solid #8155BA;
}

td {
	width: 48px;
	height: 48px;
	text-align: center;
	font-size: 2.0em;
}

td:hover {
	background-color:#f2e5ee;
}

td.selected {
	background-color:#ffbce2;
}


#digits {
    width: 450px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number{
    width: 46px;
    height: 46px;
    border: 2px solid #8155BA;
    margin: 2px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.number-selected {
    background-color: #fff;
    color: #000;
}

#buttons {
    width: 450px;
    height: 50px;
    margin: 0 auto 2rem auto;
    display: flex;
    flex-wrap: wrap;
}

#solve, #erase, #check, #submit {
    width: 90px; /* does not work, needs revision */
    height: 40px;
    background-color: #8155BA;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 10px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#solve:hover, #erase:hover, #check:hover, #submit:hover {
    background-color: #D3B5E5;
}


/* rules page */
h3{
    font-weight: bold;
}

.rules-banner {
    width: 100%;
}

.banner {
    width: 100%;
    height: 60vh;
    margin-top: 0;
    margin-bottom: 40px;
}

.howtoplay {
    width: 100%;
    text-align: justify;
    margin-top: 0px;
    padding: 30px 60px 60px 60px;
}

/* Stats Page */
.ShowStats {
    width: 100%;
    height: 100vh;
    background-color: white;
    padding-top: 50px;
} 

.stats-content {
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    margin: 20px 0;
    grid-gap: 20px;
    align-content: normal;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.stats {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.share-button {
    margin-bottom: 30px;
}
.share-button a {
    background: #8155BA;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 12px;
    text-decoration: none;
    outline: none;
}

.newChallenge a {
    background: #8155BA;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 12px;
    text-decoration: none;
    outline: none;
}

.social-media {
    margin-bottom: 20px;
}
.social-media a {
    text-decoration: none;
    margin: 20px 0;
    font-size: 30px;
}


/* Login Page & Signup Page */
.login, .signup {
    padding: 30px;
    height: 100vh;
}
#login-form, #signup-form {
    width: 90%;
    padding-top: 20px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    margin-bottom: 50px;
}

input {
    width: 100%;
    padding: 10px;
    border: 3px solid #8155BA;
    box-sizing: border-box;
    color: #000;
    background: transparent;
    font-size: 15px;
    resize: vertical;
    margin-bottom: 15px;
}

::placeholder{
    color: #1b1464;
}

#checkbox{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
}

#remember_me {
    width: 15px;
    height: 15px;
    display: inline-block;
}


#submit, #signup-btn {
    padding: 10px 0;
    color: white;
    outline: none;
    background: #8155BA;
    border: 3px solid #8155BA;
    width: 100%;
    cursor: pointer;
}

#submit:hover, #signup-btn:hover {
    background: #D3B5E5;
    border: 3px solid #D3B5E5;
}



