* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
   color: inherit; 
   text-decoration: none;
}

body {
    text-align: center;
}

.navbar {
    top: 0px;
    max-width: 100%;
    overflow: auto;
    height: auto;
    text-decoration: none;   
    font-family: 'Montserrat', sans-serif;  
}

.navbar-brand {
    margin-left:30px;
}

.nav-item {
    margin-right: 30px;
    padding: 5px;
    font-size: 20px;
    font-weight: 1rem;
    text-transform: uppercase; 
}

footer {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    margin-bottom: 0;
    background-color: black;
    color: white;
}

/* home page */

.pre {
    padding-top: 30px;
    display: flex;  
    width:450px; 
    margin: 0 auto;
    align-items: center;
}
.newGame {
    background-color: black;
    color: white;
    padding: 6px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
  
.newGame:hover, .newGame:focus {
    background-color: black;
}
  
.game {
    position: relative;
    display: inline-block;
}
  

.timer {
    margin-left: 300px;
}

#showNum {
    font-size:20px;
}

#start {
    display: none;
}

#pause {
    display: none;
}

.board {
    width: 100%;
}

#grid {
    width: 450px;
    height: 460px;
	border: 4px solid #8155BA;
	border-collapse: collapse;
    border-spacing: 0;
    font-weight: bold;
    margin-top: 2rem;	
    margin-bottom: 2rem;
    padding-bottom: 0;
    color: black;
}

td.cell {
	border: 2px dotted #8155BA;
	padding: 0;
	cursor: context-menu;
}

td.emptyCell {
	border: 2px dotted #8155BA;
	padding: 0;
	cursor: pointer;
}

#t0x2, #t0x5, #t1x2, #t1x5, #t2x5,
#t3x2,#t3x5, #t4x2, #t4x5, #t5x2, #t5x5,
#t6x2, #t6x5, #t7x2, #t7x5, #t8x2, #t8x5 {
	border-right: 3px solid #8155BA;
}

#t2x0, #t2x1, #t2x3, #t2x4, #t2x6, #t2x7,
#t5x0, #t5x1, #t5x3, #t5x4, #t5x6, #t5x7 {
	border-bottom: 3px solid #8155BA;
}

#t2x2, #t2x5, #t2x8, #t5x2, #t5x5, #t5x8 {
	border-bottom: 3px solid #8155BA;
	border-right: 3px solid #8155BA;
}

td {
	width: 48px;
	height: 48px;
	text-align: center;
	font-size: 2.0em;
}

td:hover {
	background-color:#f2e5ee;
}

td.selected {
	background-color:#ffbce2;
}


#digits {
    width: 450px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number{
    width: 46px;
    height: 46px;
    border: 2px solid #8155BA;
    margin: 2px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.number-selected {
    background-color: #340744;
    color: white;
}

#buttons {
    width: 450px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.input-button {
    width: 85px; /* does not work, needs revision */
    height: 44px;
    border: 1px solid black;
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* rules page */
h3{
    font-weight: bold;
}

.rules-banner {
    width: 100%;
}

.banner {
    width: 100%;
    height: 80vh;
    margin-top: 0;
    margin-bottom: 40px;
}

.howtoplay {
    width: 100%;
    text-align: justify;
    margin-top: 0px;
    padding: 30px 60px 60px 60px;
}

/* Stats Page */
#ShowStats {
    width: 100%;
    height: 100vh;
    background-color: white;
    padding-top: 50px;
}
#newGame {
    margin-top: 40px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 50px;
}

/* Login Page & Signup Page */
.login, .signup {
    padding: 30px;
    height: 100vh;
}
#login-form, #signup-form {
    width: 90%;
    padding-top: 20px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    margin-bottom: 50px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
    color: #000;
    background: transparent;
    font-size: 15px;
    resize: vertical;
    margin-bottom: 15px;
}

::placeholder{
    color: #1b1464;
}

#submit{
    padding: 10px 0;
    color: #000;
    outline: none;
    background: transparent;
    border: 1px solid #000;
    width: 100%;
    cursor: pointer;
}

#signup-btn{
    padding: 10px 0;
    color: #000;
    outline: none;
    background: transparent;
    border: 1px solid #000;
    width: 100%;
    cursor: pointer;
}


