
{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}

{% block content %}
<div class="game">
    <div class="pre">
        <div class="dropdown">
            <button onclick="selectDifficulty()" class="dropbtn">Difficulty</button>
            <div id="Difficulty" class="dropdown-content">
                <!-- needs revision for updating board -->
                <a href="#">Easy</a>
                <a href="#">Medium</a>
                <a href="#">Difficulty</a>
            </div>
        </div>
        
        <div class="timer">
            <div id="showNum">
                00:00
            </div>
            <!-- may consider finding a way to automatively start the timer and only display pause button when the timer is runnning-->
            <button id="start" onclick="start()"><i class="fa-solid fa-play"></i></button>
            <button id="pause" onclick="pause()"><i class="fa-solid fa-pause"></i></button>
        </div>
    </div>
    
    <div id="board"></div>
    <br>
    <div id="input">
    <div id="digits"></div>

    

    <div id="buttons">
        <button clas="input-button" id="undo"><i class="fa-solid fa-rotate-left"></i>Undo</button>
        <!-- consider removing it (overlap with undo) -->
        <button clas="input-button" id="erase"><i class="fa-solid fa-eraser"></i>Erase</button> 
        <button clas="input-button" id="notes"><i class="fa-solid fa-pencil"></i>Notes</button>
        <button clas="input-button" id="hint"><i class="fa-solid fa-lightbulb"></i>Hint</button>
        <!-- reset game board -->
        <button clas="input-button" id="reset" onclick="reset()"><i class="fa-solid fa-arrow-rotate-left"></i> reset</button>
    </div>
</div>
</div>
{% endblock %}