{% extends "layout.html" %}
{% block title %}
    Registration
{% endblock %}

{% block content %}
<div class="login">
    <form action="" method="post">
        <table >
            <tr>
                <td>User Name:</td>
                <td><input type="text" name="username" placeholder="Username" > </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" placeholder="Password"></td>
            </tr>
        </table>
 
        <tr>
            <td><input type="submit" value="Log in"></td>
        </tr>
 
        <tr>
            <td><input type="button" value="Register"></td>
        </tr>
 
    </form>

</div>


<div class="registration">
    <form action="" method="post">
        <table >
            <tr>
                <td>User Name:</td>
                <td><input type="text" name="username" placeholder="Username" > </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" placeholder="Password"></td>
            </tr>
            <tr>
                <td>Password Confirm:</td>
                <td><input type="password" name="password" placeholder="PasswordAgain"></td>
            </tr>
        </table>
 
        <tr>
            <td><input type="submit" value="Register"></td>
        </tr>
 
    </form>
</div>
{% endblock %}