
{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}

{% block content %}
<div class="game">
    <!--Game start button and Timer-->
    <div class="pre">
        <div class="game">
            <button onclick="newGame()" id="newGame">New Game</button>
        </div>
        
        <div class="timer">
            <div id="showNum">
                00:00:00
            </div>
            <!--Timer start working while the page is loaded or controlled by the pause/start button-->
            <button id="start" onclick="startTimer()"><i class="fa-solid fa-play"></i></button>
            <button id="pause" onclick="pause()"><i class="fa-solid fa-pause"></i></button>
        </div>
    </div>

     <!--The sudoku board-->
    <div class="board">
        <table class="container" id="grid">
            <tr>
                <td id='t0x0'></td><td id='t0x1'></td><td id='t0x2'></td>
                <td id='t0x3'></td><td id='t0x4'></td><td id='t0x5'></td>
                <td id='t0x6'></td><td id='t0x7'></td><td id='t0x8'></td>
            </tr>
            <tr>
                <td id='t1x0'></td><td id='t1x1'></td><td id='t1x2'></td>
                <td id='t1x3'></td><td id='t1x4'></td><td id='t1x5'></td>
                <td id='t1x6'></td><td id='t1x7'></td><td id='t1x8'></td>
            </tr>
            <tr>
                <td id='t2x0'></td><td id='t2x1'></td><td id='t2x2'></td>
                <td id='t2x3'></td><td id='t2x4'></td><td id='t2x5'></td>
                <td id='t2x6'></td><td id='t2x7'></td><td id='t2x8'></td>
            </tr>


            <tr>
                <td id='t3x0'></td><td id='t3x1'></td><td id='t3x2'></td>
                <td id='t3x3'></td><td id='t3x4'></td><td id='t3x5'></td>
                <td id='t3x6'></td><td id='t3x7'></td><td id='t3x8'></td>
            </tr>
            <tr>
                <td id='t4x0'></td><td id='t4x1'></td><td id='t4x2'></td>
                <td id='t4x3'></td><td id='t4x4'></td><td id='t4x5'></td>
                <td id='t4x6'></td><td id='t4x7'></td><td id='t4x8'></td>
            </tr>
            <tr>
                <td id='t5x0'></td><td id='t5x1'></td><td id='t5x2'></td>
                <td id='t5x3'></td><td id='t5x4'></td><td id='t5x5'></td>
                <td id='t5x6'></td><td id='t5x7'></td><td id='t5x8'></td>
            </tr>


            <tr>
                <td id='t6x0'></td><td id='t6x1'></td><td id='t6x2'></td>
                <td id='t6x3'></td><td id='t6x4'></td><td id='t6x5'></td>
                <td id='t6x6'></td><td id='t6x7'></td><td id='t6x8'></td>
            </tr>
            <tr>
                <td id='t7x0'></td><td id='t7x1'></td><td id='t7x2'></td>
                <td id='t7x3'></td><td id='t7x4'></td><td id='t7x5'></td>
                <td id='t7x6'></td><td id='t7x7'></td><td id='t7x8'></td>
            </tr>
            <tr>
                <td id='t8x0'></td><td id='t8x1'></td><td id='t8x2'></td>
                <td id='t8x3'></td><td id='t8x4'></td><td id='t8x5'></td>
                <td id='t8x6'></td><td id='t8x7'></td><td id='t8x8'></td>
            </tr>
        </table>
    </div>
   
    <div id="input">
        <div id="digits"></div>

        <div id="result"></div>

        <div id="buttons">
             <!--3 functional buttons-->
            <button onclick="solve()" clas="input-button" id="solve"><i class="fa-solid fa-rotate-left"></i>Solve</button>
            <button onclick="erase()" clas="input-button" id="erase"><i class="fa-solid fa-eraser"></i>Erase</button> 
            <button onclick="check()" clas="input-button" id="check"><i class="fa-solid fa-check"></i>Check</button> 
            

            <!--submit function, the data will be POSTed into the database once it passed the check function-->
            <form method="GET">
                <input type="hidden" name="timeSpent" value="">
                <input type="hidden" name="finishedGrid" value="">
                <input type="button" id="submit-button" value="Submit" onclick="submit()">
            </form>
        </div>

    </div>
</div>
{% endblock %}
