{% extends "layout.html" %}
{% block title %}
    Stats
{% endblock %}

{% block content %}
<div class="ShowStats">
    <div class="stats-header">
        <h1>YOUR STATS</h1>
    </div>
    <div class="stats-content">
        <div class="stats"> 
            <p>RANK: NO.1</p>
        </div>
        <div class="stats">
            <p>YOU HAVE COMPELTED {{self.time}} SUDOKUS <p>
        </div>
        <div class="stats">
            <p>FASTEST SOLVE: {{self.time}} s <p>
        </div>
    </div>
    <div class="share-button">
        <a href="#">Share</a>
    </div>
    <div class="social-media">
        <a href="https://www.facebook.com/"><i class="social-media fa-brands fa-facebook fa-2x"></i></a>
        <a href="https://www.instagram.com/"><i class="social-media fa-brands fa-instagram fa-2x"></i></a>
        <a href="https://www.twitter.com/"><i class="social-media fa-brands fa-twitter-square fa-2x"></i></a>
    </div>
    <div class="newChallenge">
        <a href="{{ url_for('home')}}">Start a new challenge</a>
    </div>
</div>



{% endblock %}